<extend name="Index/index" />

<block name="content">
<load href="__PUBLIC__/admin/assets/design/css/trumbowyg.css" />
<load href="__PUBLIC__/admin/assets/trumbowyg.js" />
<style>
body li { list-style: none; }
tr td ul{float:left;}
</style>
<script type="text/javascript">
(function($){
    $.extend(true, $.trumbowyg, {
        langs: {
            en: {
                base64: "Image as base64",
                file:   "File",
                errFileReaderNotSupported: "FileReader is not supported by your browser."
            },
            fr: {
                base64: "Image en base64",
                file:   "Fichier"
            },
			zh_cn:{
				base64: "本地上传",
                file:   "文件"
			}
        },

        opts: {
            btnsDef: {
                base64: {
                    isSupported: function(){
                        if(typeof FileReader === "undefined"){
                            console.err('[Trumbowyg - Plugin base64] FileReader is not supported by your browser.');
                            return false;
                        }
                        return true;
                    },
                    func: function(params, tbw){
                        var file,
                            $modal = tbw.openModalInsert(
                            // Title
                            tbw.lang['base64'],

                            // Fields
                            {
                                file: {
                                    type: 'file',
                                    required: true
                                },
                                alt: {
                                    label: 'description'
                                }
                            },
							
                            // Callback
                            function(values, fields){
                                var data = new FormData(),
                                fReader  = new FileReader();
				
                                fReader.onloadend = function () {
									$.ajax({
									   type: "POST",
									   url: "__URL__/images",
									   data: {"img":fReader.result},
									   dataType: "json",
									   success: function(result){
											if(result.message == 0){
												tbw.execCommand('insertImage', "__ROOT__/"+result.content);
												$(['img[src="', result.content, '"]:not([alt])'].join(''), tbw.$box).attr('alt', values['alt']);
												tbw.closeModal();
											}	
									   }
									});
                                }									
								
                                fReader.readAsDataURL(file);
								<!-- alert(fReader.result); -->
								// var img = file;
								
                            }
                        );

                        $('input[type=file]').on('change', function(e){
                            file = e.target.files[0];
                        });
                    }
                }
            }
        }
    });
})(jQuery);

</script>
	<div class="bs-example1" data-example-id="contextual-table">	
	<form action="__CONTROLLER__/{$action}" enctype="multipart/form-data" method="post">
	<table class="table">
	  <thead>	  
		<tr>
			<eq name="action" value="add">
			<h3>添加板块</h3>
			</eq>
			<eq name="action" value="update">
			<h3>修改板块</h3>
			</eq>
		</tr>
	  </thead>
	  <tbody>
		<tr class="info">
		  <div class="input-group">
            <span class="input-group-addon">板块名称</span>
            <input type="text" class="form-control" name="plate_name" placeholder="请输入板块名称" value="{$plate_one.plate_name}">
          </div>
		</tr>
		<tr>
		  <div class="input-group">
            <span class="input-group-addon">上一级板块</span>
            <select class="form-control" name="parent_id">
			  <foreach name="plate_list" item="plate">
			  <eq name="plate[plate_id]" value="$plate_one[parent_id]">
			  <option value="{$plate[plate_id]}">{$plate[plate_name]}</option>
			  </eq>
			  </foreach>
			  <option value="0">顶级分类</option>	
			  <foreach name="plate_list" item="plate">
			  <option value="{$plate[plate_id]}"><for start="0" end="$plate['level']">&nbsp;&nbsp;&nbsp;&nbsp;</for>{$plate[plate_name]}</option>
			  </foreach>			  
			</select>
          </div>
		</tr>
		<tr class="info">
		  <div class="input-group">
            <span class="input-group-addon">介绍详情</span>
            <textarea class="form-control" name="introduce" rows="5">{$plate_one[introduce]}</textarea>
          </div>
		</tr>
		<tr class="info">
		  <div class="input-group">
            <span class="input-group-addon">排序</span>
            <input type="text" class="form-control" name="sort_order" placeholder="请输入排序" value="{$plate_one.sort_order}">
          </div>
		</tr>		
		<tr class="info">
		  <div class="input-group">
            <span class="input-group-addon">文章详情</span>
            <div onmousedown="show_element(event)" style="clear:both" id="customized-buttonpane" class="editor" ><?php echo htmlspecialchars_decode($plate_one['customized-buttonpane']);?></div>
          </div>
		</tr>		
		<tr class="info">
		  <div class="input-group">
            <span class="input-group-addon">是否属于详情页</span>            
          </div>
		  <div class="radio">
				<label>
					<input type="radio" name="is_show" value="0" <eq name="plate_one[is_show]" value="0">checked</eq> <eq name="plate_one[is_show]" value="">checked</eq>>是
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="is_show" value="1" <eq name="plate_one[is_show]" value="1">checked</eq>>否
				</label>
			</div>
		</tr>
		<tr id="banner">
		  <span class="input-group-addon">banner图</span>
		  <td>
		  <foreach name="images" item="image">
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<img src="__ROOT__/{$image.img_url}">
					<div class="caption">
						<p>文字介绍：{$image.img_introduce}</p>
						<p>排序：{$image.img_desc}</p>
						<p>
							<a id="{$image.img_id}" class="btn btn-default" role="button">
								删除
							</a> 
						</p>
					</div>
				</div>
			</div>
		  </foreach>
		  </td>
		</tr>
		<tr class="col-sm-6 col-md-3">		  
		  <td>
		  <a class="add form-control">[+]添加图片</a>
		  <div class="form-group">
		  <input type="text" class="form-control" name="img_introduce[]" placeholder="请输入文字介绍">
		  <input type="text" class="form-control" name="img_desc[]" placeholder="请输入顺序">				  
		  <input type="file" class="form-control" name="img_url[]">
		  </div>				  
		  </td>
		</tr>		
		<tr>
		  <input type="hidden" name="action" value="{$action}"/>
		  <input type="hidden" name="plate_id" value="{$plate_one.plate_id}"/>
		  <td><button type="submit" class="btn btn-primary">提交</button></td>
		</tr>
	  </tbody>
	</table>
	</form>
	</div>
	<script type="text/javascript">
	$('.add').click(function(){
		var html = '';	
		html += '<tr>';
		html += '<td>';
		html += '<a class="delete form-control">[-]取消</a>';
		html += '<div class="form-group"><input type="text" class="form-control" name="img_introduce[]" placeholder="请输入文字介绍"><input type="text" name="img_desc[]" class="form-control" placeholder="请输入顺序"><input type="file" class="form-control" name="img_url[]"></div>';
		html += '</td>';
		html += '</tr>';
		
		$(this).parent().append(html);
		$('.delete').click(function(){
			$(this).parent().parent().remove();
		})			
	})
	$(document).on("click",".caption a",function(){
		var id = $(this).attr("id");
		var plate_id = $('input[name="plate_id"]').val();
		$.ajax({
		   type: "POST",
		   url: "__URL__/delete_img",
		   data: {"id":id,"plate_id":plate_id},
		   dataType: "json",
		   success: function(result){							
				if(result.message !== ''){
					alert(result.message);
				}
				if(result.img !== ''){
					var img = result.img;
					<!-- alert(img.length); -->
					var html = ''; 
					for(var i=0;i<img.length;i++){						
						html += '<div class="col-sm-6 col-md-3">';
						html += '<div class="thumbnail">';
						html += '<img src="__ROOT__/'+img[i].img_url+'">';
						html += '<div class="caption">';
						html += '<p>文字介绍：'+img[i].img_introduce+'</p>';
						html += '<p>排序：'+img[i].img_desc+'</p>';
						html += '<p>';
						html += '<a id="'+img[i].img_id+'" class="btn btn-default" role="button">删除</a>';
						html += '</p>';
						html += '</div>';
						html += '</div>';
						html += '</div>';
					}
					$("#banner td").html(html);
				}
		   }
		});
	})
	</script>   

</block>

