.width-50{
	width: 50%;
}
#website .work_show div{
	overflow: hidden;
	text-align: center;
	color: #fff;
}
#website .work_show div img{
	width: 100%;
}
#website .pHeight{
	width: 100%;
    position: absolute;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    opacity: 0;
    background: rgba(0,0,0,.5);
    opacity: 1;
    display: none;
   
}
#website .work_name{
	margin-top: 60px;
	margin-bottom: 30px;
	letter-spacing: 5px;
}
#website .work_describ{
	display: block;
	width: 80%;
	height:42px;
	margin: 0 auto;
	color: #fff;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-oevrflow: ellipsis;
}
#website .work:hover .pHeight{
	display: block;
}
#website .bg_fb{
	background-color: #fbfbfb;
	margin-top: 88px;
}
#website .bg_fb .width-50{
	width: 50%;
	float: left;
	position: relative;
}
#website .work_item{
	color: #000000;
	letter-spacing: 10px;
	font-size: 20px;
	margin-top:160px ;
	position: relative;
	margin-bottom: 20px;
}
#website .work_item:after{
	display: inline-block;
	width:40px;
	height:3px;
	content: "";
	background-color: #000;
	position: absolute;
	left: 0;
	margin-top:40px;
}
#website .bg_fb img{
	width: 100%;
}
#website .item_text{
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}
#website .text_work{
	width: 80%!important;
	margin: 0 10%;
}
#website .right_text,.left_text{
	position: absolute;
	top:0;
	right: 0;
}
#website .left_text{
	left:0
}
#website .width-50 div{
	width: 50%;
}
#website .item-text,#website .item{
	display: block;
	width: 80%;
	margin: 70px 10%;
}
#website .item{
	color: #000000;
	font-size: 20px;
	letter-spacing: 5px;
	line-height: 30px;
	text-align: center;
	margin: 30% 10% 0 10%;
}