<div class="footer">
	<p class="logo"><img src="__ROOT__/{$company.logo}" alt="" /></p>
	<p>{$company.company_name}</p>
	<p>{$company.phone}</p>
	<p>{$company.profile}</p>
	<p>地址：{$company.address}</p>
	<p>{$company.information}</p>
</div>
<!--右侧导航栏-->

<script type="text/javascript"> 
	$(window).bind("load", function() { 
		var footerHeight = 0,footerTop = 0,$footer = $(".foot"); 
			positionFooter(); 
		function positionFooter() { 			
			footerHeight = $footer.height(); //取到div#footer高度 
			footerTop = ($(window).scrollTop()+$(window).height()-footerHeight)+"px"; //div#footer离屏幕顶部的距离 
		//如果页面内容高度小于屏幕高度，div#footer将绝对定位到屏幕底部，否则div#footer保留它的正常静态定位 
		if ( ($(document.body).height()+footerHeight) < $(window).height()) { 
				$footer.css({ 
				position: "absolute" 
				}).stop().animate({ 
				top: footerTop 
				}); 
			} else { 
			$footer.css({ 
			position: "static" 
			}); 
			} 
			} 
		$(window).scroll(positionFooter).resize(positionFooter); 
	}); 
</script> 