<extend name="Index/index" />

<block name="content">
<div class="col-md-12 graphs">
	   <div class="xs">
		<eq name="action" value="add">
  	    <h3>添加图片</h3>
		</eq>
		<eq name="action" value="update">
  	    <h3>修改图片</h3>
		</eq>
  	    <div class="well1 white">
        <form class="form-floating ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-url ng-valid-pattern" novalidate="novalidate" ng-submit="submit()" action="__CONTROLLER__/{$action}" enctype="multipart/form-data" method="post">
          <fieldset>
            <div class="form-group">
              <label class="control-label">上传图片</label>
              <input type="file" class="form-control" name="img_url">
			  <notempty name="image_one.img_url">
			  <img src="__PUBLIC__/{$image_one.img_url}" width="200">
			  </notempty>
			  <input type="hidden" name="img_url" value="{$image_one.img_url}"/>
            </div>
            <div class="form-group">
              <label class="control-label">排序</label>
              <input type="text" name="img_desc" class="form-control1 ng-invalid ng-valid-email ng-invalid-required ng-touched" placeholder="请输入顺序" value="{$image_one.img_desc}">
            </div>
            <div class="form-group">
              <label class="control-label">文字介绍</label>
              <textarea class="form-control" name="img_introduce" rows="5" placeholder="请输入文字介绍">{$image_one.img_introduce}</textarea>
            </div>
            <div class="form-group">
			  <input type="hidden" name="img_id" value="{$image_one.img_id}"/>
              <button type="submit" class="btn btn-primary">提交</button>
              <button type="reset" class="btn btn-default">重置</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

   </div>
   
</block>

